<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.backend.mapper.UserMapper">

    <select id="findAllUsers" resultType="com.dev.backend.user.model.User">
        SELECT * FROM USER
    </select>

    <select id="findUserById" parameterType="long" resultType="com.dev.backend.user.model.User">
        SELECT * FROM USER WHERE ID = #{id}
    </select>

    <insert id="insertUser" parameterType="com.dev.backend.user.model.User">
        INSERT INTO USER(USERNAME, PASSWORD, FIRST_NAME, LAST_NAME, CONTACT, EMAIL, CREATE_DATE, UPDATE_DATE) VALUES(#{username}, #{password}, #{firstName}, #{lastName}, #{contact}, #{email}, NOW(), NOW())
    </insert>

    <update id="updateUser" parameterType="com.dev.backend.user.model.User">
        UPDATE USER
        <set>
            <if test="null != password">
                , PASSWORD = #{password}
            </if>
            <if test="null != firstName">
                , FIRST_NAME = #{firstName}
            </if>
            <if test="null != lastName">
                , LAST_NAME = #{lastName}
            </if>
            <if test="null != contact">
                , CONTACT = #{contact}
            </if>
            <if test="null != email">
                , EMAIL = #{email}
            </if>
            , UPDATE_DATE = NOW()
        </set>
        WHERE ID = #{id}
    </update>
</mapper>